<li>
	<a href="{{ url }}">
		{{#if collection}}
			<img src="assets/images/books.png" alt="Books">
		{{else}}
			<img src="assets/images/book.png" alt="Book">
		{{/if}}
		<h6>{{ title }}</h6>
	</a>
</li>
